fastapi
google-generativeai
langchain
sentence-transformers
langchain-community
qdrant-client
langchain_qdrant
langchain_groq
langchain-huggingface
pandas
numpy
pymongo[srv]
# python -m pip install "pymongo[srv]"
